<div class="container">
<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %><br>
  <%= f.label "Mark as done" %> <br />
  <%= f.check_box :completed %> <br />
  <%= f.submit %>
<% end %>
</div>
